#cont5{
    height: 50px;
}
 .asiento{
    width: 50px;
    height: 50px;
    color: black;
    background-color: aqua;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    font-size: 16px;
    appearance: none;
    padding: 30px;
    cursor: pointer;
    transition: 300ms;
    position: relative;
    
}
 input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    
 }
.asiento:checked{
    background-color: red;
    opacity: 100;
    transition: 300ms;
}

.nAsiento{
    color:black;
    content: none;
    position: absolute;
    pointer-events: none;
}

.asiento-vacio{
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    font-size: 16px;
    padding: 30px;
}